<!DOCTYPE html>
<html>
<body>

<h2>Sign up for subreddit new post notifications</h2>

<form name="search" action="" method="POST">
  <label for="str">Enter a subreddit you want to track:</label><br>
  <input type="text" id="subreddit" name="subreddit" placeholder="subreddit" required="required"><br>

  <label for="str">Enter an email for your updates:</label><br>
  <input type="email" id="email" name="email" placeholder="email" required="required"><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>